{% extends 'base.html' %}

{% block title_block %}
    Club Points Board for GUDLFT
{% endblock title_block %}

{% block content_block %}
    <a href="{{ url_for('index') }}">Back to login</a>
    <h2>Club Point</h2>
    <table>
        <tr>
            <th>Clubs</th>
            <th>Points</th>
        </tr>
        {% for club in clubs %}
            <tr>
                <td>{{ club['name'] }}</td>
                <td>{{ club['points'] }}</td>
            </tr>
        {% endfor %}
    </table>
    {% include 'messages.html' %}
{% endblock content_block %}