{% extends 'base.html' %}

{% block title_block %}
Booking for {{competition['name']}} || GUDLFT
{% endblock title_block %}

{% block content_block %}
    <h2>{{competition['name']}}</h2>
    <p>Places available: {{competition['numberOfPlaces']}}</p>
    <form action="/purchasePlaces" method="post">
        <input type="hidden" name="club" value="{{club['name']}}">
        <input type="hidden" name="competition" value="{{competition['name']}}">
        <label for="places">How many places?</label>
        <input type="number" name="places" id="places">
        <button type="submit">Book</button>
    </form>
    {% include 'messages.html' %}
{% endblock content_block %}