{% extends 'base.html' %}

{% block title_block %}
    GUDLFT Registration
{% endblock title_block %}

{% block content_block %}
    <h1>Welcome to the GUDLFT Registration Portal!</h1>
    <p>Please enter your secretary email to continue:</p>
    <form action="showSummary" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email"/>
        <button type="submit" id="form-button">Enter</button>
    </form>
    <p>
        <a href="{{ url_for('board') }}">Club Points Board</a>
    </p>
    {% include 'messages.html' %}
{% endblock content_block %}