{% extends 'base.html' %}

{% block title_block %}
    Summary | GUDLFT Registration</title>
{% endblock title_block %}

{% block content_block %}
        <h2>Welcome, {{club['email']}} </h2><a href="{{url_for('logout')}}">Logout</a>

    {% include 'messages.html' %}
    Points available: {{club['points']}}
    <h3>Future Competitions:</h3>
    <ul>
        {% for comp in future_competitions%}
        <li>
            {{comp['name']}}<br />
            Date: {{comp['date']}}</br>
            Number of Places: {{comp['numberOfPlaces']}}
            {%if comp['numberOfPlaces']|int >0%}
            <a href="{{ url_for('book',competition=comp['name'],club=club['name']) }}">Book Places</a>
            {%endif%}
        </li>
        <hr />
        {% endfor %}
    </ul>
    <h3>Past Competitions:</h3>
    <ul>
        {% for comp in past_competitions%}
        <li>
            {{comp['name']}}<br />
            Date: {{comp['date']}}</br>
            Number of Places: {{comp['numberOfPlaces']}}
        </li>
        <hr />
        {% endfor %}
    </ul>
{% endblock content_block %}